@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#login {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color:rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-width: 0px 0px 6px 6px;
  border-style: none none solid solid;
  border-color: #FFF #FFF #EAEAEA #EAEAEA;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
}
#login a, #login a:visited, #login a:hover {
  color: #000060;
  text-decoration: underline;
}
#login a:hover {
  background-color:rgba(255, 255, 255, 0.7);
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
